/DATN/nbproject/private/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/JavaApplication1/dist/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/JavaApplication2/dist/
/DATN/build/
/DATN/dist/